body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel .item img {
  height: 450px; 
  width: auto; 
  object-fit: contain;
  display: block; 
  margin: 0 auto; 
}


.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}

/* Teaser Section */
.teaser-image {
  display: block;
  margin: 0 auto 20px auto; 
  width: 100%;
  max-width: 1000px; 
  height: auto; 
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.teaser .title.is-4 {
  font-size: 1.2rem; /* 기존보다 작은 크기로 설정 */
  line-height: 1; /* 줄 간격을 적절히 조정 */
}


.teaser .content {
  padding: 0 1.5rem; /* Abstract와 동일한 좌우 여백 */
  margin-top: 20px; /* 텍스트와 이미지 사이의 여백 */
  font-size: 1rem;
  line-height: 1.8;
}

.teaser ul {
  padding-left: 1.5rem; /* 목록 들여쓰기 */
  margin-top: 10px;
}

.teaser ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.8;
}

.results-carousel .item p.subtitle-has-text-centered {
  font-size: 1rem !important; 
  margin-top: 30px !important;
  line-height: 1.5 !important;
  text-align: left !important;
  max-width: 100% !important;
}

.publication-title {
  display: inline-block;
  font-weight: bold; 
}


.title-container {
  position: relative;
  display: inline-block;
}

.dancing-emoji-man {
  position: absolute;
  top: 50%;
  left: 97%;
  transform: translate(0, -50%) rotate(0deg);
  opacity: 0;
  font-size: 4rem;
  transition: opacity 0.3s ease-in-out;
}

.dancing-emoji-woman {
  position: absolute;
  top: 50%;
  left: -6%;
  transform: translate(0, -50%) rotate(0deg);
  opacity: 0;
  font-size: 4rem;
  transition: opacity 0.3s ease-in-out;
}

.title-container:hover .dancing-emoji-man {
  opacity: 1;
  animation: tiltEmoji 1.7s infinite;
}

.title-container:hover .dancing-emoji-woman {
  opacity: 1;
  animation: tiltEmoji 1.7s infinite;
}

@keyframes tiltEmoji {
  0% {
    transform: translate(0, -50%) rotate(0deg);
  }
  25% {
    transform: translate(0, -50%) rotate(20deg);
  }
  50% {
    transform: translate(0, -50%) rotate(-20deg);
  }
  75% {
    transform: translate(0, -50%) rotate(20deg);
  }
  100% {
    transform: translate(0, -50%) rotate(0deg);
  }
}
